/*-----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/*-----------
    TYPO
-----------*/
body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        to bottom,   
        #009688 0%,
        #009688 20%,
        #DBDBD2 20%,
        #DBDBD2 100%
    );
    height: 100vh;
    width: 100vw;
}

/*---------------
    CONTAINER
---------------*/

.container{
    width: 80%;
    height: 95%;
    margin: auto;
    background-color: aqua;
    margin-top: 10px;
    display: flex;
}

/*----------------
    LEFT COLUMN
----------------*/
.left-col{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 35%;
}

.profile{
    background-color: #E6DFD6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.name-img-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons-left{
    gap: 10px;
    display: flex;
    align-items: center;
    color: gray;
}

.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.notification{
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.bell-icon{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #8EDAFC;
}

.notification a{
    color: gray;
}

.search-bar{
    display: flex;
    background-color: #FAFAFA;
    height: 40px;
    padding: 5px;
}

.search-bar button{
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-right: 0.1px solid lightgray;
}

.search-bar input{
    width: 80%;
    border: none;
    padding-left: 10px;
    height: 30px;
}

.contacts{
    height: 75vh;
    background-color: white;
    overflow-y: scroll;
}

.contacts img{
    width: 50px;
    height: 50px;
}

.contact{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact .testo{
    color: gray;
    font-size: 12px;
}

.contact:hover{
    background-color: lightgray;
}

.contact .orario{
    color: gray;
    font-size: 10px;
}

/*-------------------
    RIGHT COLUMN
-------------------*/
.right-col{
    width: 65%;
}

.profile-chat{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #E6DFD6;
    border-left: 0.1px solid lightgray;
    align-items: center;
}

.profile-chat .accesso{
    color: gray;
    font-size: 10px;
}