/*-----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/*-----------
    TYPO
-----------*/
body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        to bottom,   
        #009688 0%,
        #009688 20%,
        #DBDBD2 20%,
        #DBDBD2 100%
    );
    height: 100vh;
    width: 100vw;
}

/*---------------
    CONTAINER
---------------*/

.container{
    width: 80%;
    height: 95%;
    margin: auto;
    background-color: aqua;
    margin-top: 10px;
}

.profile{
    background-color: #E6DFD6;
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.name-img-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons-left{
    gap: 10px;
    display: flex;
    align-items: center;
    color: lightgray;
}

.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}